* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
.container {
    text-align: center;
    padding: 1rem;
}
.botones-acciones{
    width: 30rem;
    margin: 0 auto;
    padding: 0 4.6rem;
    margin-bottom: 1rem;
}

.botones-acciones form button{
    background-color: #092639;
    color: white;
    border: none;
    margin: .1rem 0;
    font-size: 1.1rem;
    cursor: pointer;
    width: 100%;
    padding: 1rem 0;
}
.botones-acciones form button:hover{
    background-color: #144260;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: white;
}
.calculadora{
    background-color: #a7a7a7;
    padding: 1rem;
    margin: auto;
    border-radius: 5px;
    width: fit-content;
}
.calculadora button{
    width: 4rem;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #4b4b4b;
    color: #f3f3f3;
    border-radius: 7px;
}
.pantalla{
    background-color: #e1e1e1;
    height: 4.3rem;
    margin-bottom: .6rem;
    text-align: right;
}
.pantalla .expresion{
    padding: .2rem .4rem;
    font-size: 1rem;
    height: 1.5rem;
}
.pantalla .resultado{
    padding: 0 .4rem;
    font-size: 2rem;
    font-weight: bold;
    height: 2rem;
}
.pantalla .error{
    color: rgb(230, 0, 0);
    padding: 0 .4rem;
    font-size: .6rem;
}
